footer {
    .flex(row, space-around, center, center);
    background-color: @turq2;
    border-top: 2px solid @turq4;

  button {
    .btn-mixin;
    .flex(row, space-around, center, center);
    flex-wrap: wrap;
  }
  #meet{
        width: 200px;
    }
    a {
        .a-mixin;
      }
}
