footer {
  margin: 0 auto;
  .flex(row, space-around, center, center);
  background-color: @turq2;
  border-top: 2px solid @turq4;
  max-width: 1000px;
  @media @mobile{
      flex-direction: column;
      h4{
          display: none;
      }
  }

  button {
    .btn-mixin;
    .flex(row, space-around, center, center);
    flex-wrap: wrap;
    flex-basis: 200px;
    @media @mobile{
    flex-wrap: no-wrap;
    flex-basis: auto;
    }
  }

  //styes for buttons with longer text
  #meet,
  #back {
    .btn-mixin;
    width: 200px;
  }
  a {
    .a-mixin;
  }
}
